.embed-tool {
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #e6e9eb;

    ^&__caption {
        display: none;
    }

    ^&__preloader {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &::after {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;
        border-radius: 50%;
        border: 2px solid #cdd1e0;
        border-top-color: #388ae5;
        box-sizing: border-box;
        content: '';
        animation: embed-preloader-spin 2s infinite linear;
      }
    }
  }
}

@keyframes embed-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
