.embed-tool {
  &--loading {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #e6e9eb;

    ^&__caption {
      display: none;
    }

    ^&__preloader {
      position: absolute;
      z-index: 3;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -25px;
      margin-left: -15px;
      border-radius: 50%;
      border: 2px solid #cdd1e0;
      border-top-color: #388ae5;
      box-sizing: border-box;
      animation: embed-preloader-spin 2s infinite linear;
    }

    ^&__url {
      position: absolute;
      bottom: 20px;
      max-width: 250px;
      color: #7b7e89;
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__caption {
    margin-top: 7px;
  }
}

@keyframes embed-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
